.spun-example {
  background: black;
  border-radius: 15px;
  font-weight: bold;
  line-height: 25px;
  max-width: 450px;
  padding: 15px;
  text-align: left;
}

.spun-example > .line > .command {
  color: yellow;
  margin-right: 15px;
}

.spun-example > .line > .operator {
  color: yellow;
  margin-left: 15px;
  margin-right: 15px;
}

.spun-example > .line > .string-arg {
  color: violet;
}

.spun-example > .line > .numeric-arg {
  color: white;
}
